.main_mobile {
    max-width: 60%;
    display: flex;
    margin: 15vw auto;
    position: relative;
}

.main_mobile .pin-spacer {
    height: auto;
}

.main_mobile .mobile01 {
    margin-right: -4rem;
}

.main_mobile .mobile01 img {
    transform: translate3d(0px, 6em, 0px) scale3d(1, 1, 1) rotateZ(343deg);
    margin-top: 1vw;
}

.main_mobile .macbook {
    background-image: url(/assets/img/main_box.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 10vw;
}

.main_mobile .mobile02 {
    margin-left: -11.5vw;
    background-image: url(/assets/img/main_est.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: 3.5vw;
    padding: 0 4.5vw;
}

.main_mobile .mobile02 img {
    transform: translate3d(0px, 6em, 0px) scale3d(1, 1, 1) rotateZ(11deg);
}

.main_mobile img {
    border-radius: 10px;
}

@media (max-width: 1650px) {}


@media (max-width: 1495px) {

    .main_mobile {
        max-width: 75%;
    }
}

@media(max-width: 800px) {

    .main_mobile {
        max-width: 90%;
    }

    .main_mobile .macbook {
        padding-bottom: 15vw;
        background-size: 90%;
    }
}

@media(max-width: 650px) {

    .main_mobile {
        margin: 34vw auto 40vw;
    }

    .main_mobile .mobile02 {
        margin-left: -18.5vw;
        background-position-y: 3.5vw;
        padding: 0;
        background-size: 50%;
    }
}